<div class="questionnaire">
  <div class="tabs">
    <div
      (click)="onNavigationClicked(navBar.id, i)"
      [class.active]="navBar.isActive"
      class="tabs--tab"
      *ngFor="let navBar of navBarItems; let i = index">
      <div>
        {{ navBar.tabNumber }}
      </div>
      <div>
        {{ navBar.tabName }}
      </div>
    </div>
  </div>
  <div class="required-questions mt-2 mr-2">
    <span class="required-field"></span>
    <span class="ml-1">required questions</span>
  </div>
</div>