.csdl-create-project-modal {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 2rem;
        &--title {
            display: flex;
            align-items: baseline;
            h5 {
                margin-bottom: 0;
            }
        }
        .icon-close {
            padding: 0;
        }
        &.border-bottom {
            border-bottom: solid 1px gray;
        }
        .required {
            &.required-field:before {
                @extend .mandatory-bullet;
                margin: 0 10px 0 -35px;
            }
        }
    }
    &__invalid-user-alert {
        background-color: goldenrod;
    }
    &__body {
        display: flex;
        flex-direction: column;
        max-height: 60vh;
        overflow-y: auto;

        &.small-modal {
            max-height: 50vh;
        }
    }

    &__questions-list {
        ol {
            padding: 0 0 0 35px;
            li {
                &.required-field:before {
                    @extend .mandatory-bullet;
                    margin: 0 25px 0 -35px;
                }
            }
            &.no-list-style-type {
                list-style-type: none;
                padding: 0 0 0 20px;
            }
        }
        .form-group {
            display: inline;
            .form-group__text input,
            .form-group__text cui-select {
                width: 30%;
            }
            .form-group__text cui-select.be-sbe-pf {
                width: 65%;
            }
            .form-group__text {
                .label {
                    width: max-content;
                }
                &--invalid-user {
                    background-color: lightcoral;
                }
            }
        }
    }

    &__footer {
        display: flex;
        min-height: 5rem;
        justify-content: space-between;
        align-items: flex-end;
        border-top: solid 1px gray;
        padding-left: 2rem;
    }
}

.csdl-project-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.mandatory-bullet {
    content:"*";
    color:red;
    height: 1rem;
    width: 1rem;
    background-color: rgb(255, 1, 1);
    border-radius: 50%;
    display: inline-block;
    line-height: 14px;
}