.status-info-dialog {
    &__main {
        &--body {
            height: auto;
            overflow-y: auto;
        }
    }

    &__header {
        border: solid 1px;
        .col {
            padding: 10px;
            background-color: #dfdfdf;
            &:first-child {
                border-right: solid 1px;
            }
        }
    }
    
    &__body {
        border: solid 1px;
        border-top: none;
        .col {
            padding: 10px;
            &:first-child {
                border-right: solid 1px;
            }
        }
    }
    
    span:first-child {
        max-width: 35%;
    }
}