<div class="csdl-project-modal">
    <div class="csdl-project-modal__header">
        <div class="csdl-project-modal__header--title">
            <h5 *ngIf="!isDetailsConfirmed" class="mr-1">Showing details for review</h5>
            <h5 *ngIf="isDetailsConfirmed" class="mr-1">Details</h5>
            <a [href]="projectLink" target="_blank">View in Security Insights tool</a>
        </div>
        <a class="modal__close" (click)="closeModal()"><span class="icon-close i-close"></span></a>
    </div>
    <div class="csdl-project-modal__body my-1">
        <div class="csdl-project-modal__body--item py-1">
            <span class="text-link text-weight-700 text-right">CSDL ID:</span>
            <span class="text-link ml-2">{{projectDetails.project_id}}</span>
        </div>
        <div class="csdl-project-modal__body--item py-1">
            <span class="text-link text-weight-700 text-right">Project name:</span>
            <span class="text-link ml-2">{{projectDetails.project_name}}</span>
        </div>
        <div class="csdl-project-modal__body--item py-1">
            <span class="text-link text-weight-700 text-right">Description:</span>
            <span class="text-link ml-2">{{projectDetails.description}}</span>
        </div>
    </div>
    <div class="csdl-project-modal__footer">
        <button class="btn btn--dark" *ngIf="!isDetailsConfirmed" (click)="closeModal()">Enter a different CSDL ID</button>
        <button class="btn btn--success" *ngIf="!isDetailsConfirmed" (click)="confirmDetails()">Confirm details</button>
        <button class="btn btn--dark" *ngIf="isDetailsConfirmed" (click)="closeModal()">Close</button>
    </div>
</div>
<ng-container *ngIf="showLoader">
    <div class="flex-center full-height csdl-project-loader">
        <cui-spinner color="default" label="Loading"></cui-spinner>
    </div>
</ng-container>