<div class="complete_container">
    <div class="complete_container__body">
        <div class="complete_container__body--icon">
            <div class="flex"><img class="tick-icon" src="assets/images/icons/svg/tick-inside-circle.svg"></div>
        </div>
        <div class="complete_container__body--details">
            <div>
                <div><p>The CSDL Process is complete</p></div>
                <div class="flex">
                    <div> 
                        <div>Project <span class="text-green">approved to</span> ship</div>
                        <div class="mt-1"><img src="assets\images\csdl\svg\approved-status.svg"/></div>
                    </div>
                    <div class="status__note">
                        <div class="text-italic">
                            Note: To see more details, go to <a (click)="switchToSideBarStep('plan_execute')">Step 2: Plan/Execute</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>