<div>
    <a class="modal__close pull-right" (click)="onCancel()"><span class="icon-close"></span></a>
    <div class="modal__header text-center"> <h4>Forbidden</h4></div>
    <div>
        <div class="main--body  text-center">
            <h5 class="text-bold">Please Contact CPDM Central Administrator</h5>
            <br>
            <p class="text-italic">You do not have access to selected project.</p>
            <div class="text-center">
                <button type="submit" class="btn btn--primary btn--small mt-2" (click)="onCancel()">Ok</button>
            </div>
        </div>
    </div>
</div>
