

<div class="container-fluid">
        <div class="row m-5 pb-5 box-margin"> <!-- Give this div your desired background color -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12 centered-text  ">
                            
                                    <div>
                                          <h3 class="  span-margin"><b>{{message}}</b></h3>
                                    </div>      
                                    <span class="text-bold text-large span-margin"><i>Thank You! Please close this window.</i></span> 
                            <p>
                                    <div class="text-center">
                                            <button class="btn btn--primary btn--small mt-2" name="oauthWinClose" id="oauthWinClose" ngClass="btn--primary" onClick="setTimeout(window.open('about:blank', '_self').close(),1000);return false;">Close</button>
                                    </div>
                            
                           
                    </div>
                </div>
            </div>
        </div>
    </div>
 