<div class="container-fluid">
    <div class="top-bar">
        <div class="top-bar__navigation">
            <h6 class="section"> <a routerLink="/home">Home</a>
                <span class="icon-small icon-chevron-right"></span>
                <a routerLink="/project/{{projectId}}"
                    *appHasRole="[role.pm]">{{projectName}}</a>
                <span *appHasRole="[role.csdlPO]">{{projectName}}</span>
                <span class="icon-small icon-chevron-right"></span>CSDL
            </h6>
        </div>
        <div class="top-bar__button">
            <button class="btn btn--secondary" (click)="openHelpOverlayModal()">Overview</button>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="csdl-left-pane">
                <div class="csdl-left-pane__sidebar">
                    <p class="text-large text-center text-bold mr-7">CSDL
                        <span *ngIf="betaFlag===true" ><sup class="betaTag qtr-padding-top text-normal" >BETA</sup></span>
                    </p>
                    <process-sidebar [sidebarData]="sidebarData" (onSidebarSwitch)="switchSidebarTab($event)"
                        (onInfoClick)="showModal($event)">
                    </process-sidebar>
                </div>
                <div  >
                <div class="flex-center" *appHasRole="[role.pm]">
                    <button class="btn btn--secondary" (click)="onUpdateCSDLId()"  [disabled]="!csdlData?.isCSDLIdLinked">Update</button>
                     
                </div>
                <div class="flex-center">
                   <span>CSDL ID</span>                     
                </div>
            </div>
            </div>

            <div class="general-compliance__right-pane">
                <div class="general-compliance--view">
                    <div class="general-compliance--view__content">
                        <div class="dynamic-component">
                            <!-- all other components -->
                            <router-outlet></router-outlet>
                            <!-- end  -->
                        </div>
                        <div class="general-compliance--view__content--footer">
                            <div class="previousBtn"><button *ngIf="!sidebarData[0].isActive"
                                    class="btn btn--secondary" [class.disabled]="disablePreviousBtn"
                                    (click)="onPreviousClick()"><span
                                        class="icon-arrow-up-tail mr-1"></span>{{sideBar.getStepName('previous')}}</button>
                            </div>
                            <div class="nextBtn">
                                <span *ngIf="footerTextForNext && footerTextForNext.length" class="text-italic">{{footerTextForNext}}</span> 
                                <button *ngIf="!sidebarData[2].isActive"
                                    class="btn btn--secondary" [class.disabled]="disableNextBtn"
                                    (click)="onNextClick()">{{sideBar.getStepName('next')}}<span
                                        class="icon-arrow-down-tail ml-1"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-container *ngIf="showLoader">
    <div class="flex-center full-height csdl-project-loader">
        <cui-spinner color="default" label="Loading"></cui-spinner>
    </div>
</ng-container>