.service-assesment-modal{
  &__header {
      display: flex;
      justify-content: space-between;
  }
  &__content{
      &__field{
        display: flex;
        justify-content: space-between;
        .required-questions{
          color: red;
        }
      }
      &__main{
         border-top: 1px solid #636363; 
         border-bottom: 1px solid #636363; 
         height: 55vh;
         overflow-y: auto;
         overflow-x: hidden;
         margin: 1% 0;  
         ol{
          padding: 0 0 0 40px !important;
         }   
         .radio-btn-container {
            display: flex;
            align-items: center;
          }
      }

      &__footer{
          text-align: center;
          display: flex;
          justify-content: space-between;
       }
  }
}

.required-note {
  margin-top: 1rem;
  margin-left: 25rem;
}

.mandatory-field {
  &::before {
      content:"*";
      color:red;
  }
}

::ng-deep .required-question-list ol,
::ng-deep .required-question-list ul {
margin-bottom: 1rem;
}

ol {
list-style-type: none;
}

.form-group__text {
  width: 97%;
}

.text-default{
  color: #1E4471;
}