<div class="crc-identify-po">
    <!-- Not applicable view -->
    <div *ngIf="!isApplicable" class="flex full-height flex-center-vertical crc-identify-po__na-holding">
        <app-holding-status [statusIcon]="naHoldingMsg.statusIcon" [status]="naHoldingMsg.status" [message]="naHoldingMsg.message"></app-holding-status>
    </div>
    <ng-container *ngIf="isApplicable">
        <!-- Initial wait & update view -->
        <ng-container *ngIf="!recommendationStatus">
            <div class="mb-2">
                <app-holding-status [statusIcon]="addRecHoldingMsg.statusIcon" [status]="addRecHoldingMsg.status">
                    <button class="btn" (click)="openDialog()">{{ crcRecommendationsId ? 'View/Edit' : 'Add'}}</button>
                    <span class="text-danger ml-2" *ngIf="!crcRecommendationsId || (isUpdated && !isNewRecommendationsAvailable)"><span class="icon-exclamation-triangle mr-1"></span>Add at least one recommendation</span>
                </app-holding-status>
            </div>
            <div class="mb-2" *ngIf="isPMCommentsAvailable">
                <app-holding-status [statusIcon]="pmCommentsHoldingMsg.statusIcon" [status]="pmCommentsHoldingMsg.status" [message]="pmCommentsHoldingMsg.message"></app-holding-status>
            </div>
            <div class="mb-2" *ngIf="isPOCommentsAvailable">
                <app-holding-status [statusIcon]="poCommentsHoldingMsg.statusIcon" [status]="poCommentsHoldingMsg.status" [message]="poCommentsHoldingMsg.message"></app-holding-status>
            </div>
            <div class="mb-2">
                <app-holding-status [statusIcon]="newCommentsHoldingMsg.statusIcon" [status]="newCommentsHoldingMsg.status">
                    <div class="form-group base-margin-bottom">
                        <div class="form-group__text">
                            <textarea rows="3" placeholder="Type here" [(ngModel)]="comment"></textarea>
                        </div>
                    </div>
                </app-holding-status>
            </div>
            <div class="mb-2 text-right">
                <span class="text-link text-italic">Click 'Submit' when finished adding the recommendations</span>
                <button class="btn btn--primary ml-1" [disabled]="!crcRecommendationsId || (isUpdated && !isNewRecommendationsAvailable)" (click)="submit()">Submit</button>
            </div>
        </ng-container>
        
        <!-- View for submitted -->
        <ng-container *ngIf="recommendationStatus === 'submitted'">
            <div class="mb-2">
                <app-holding-status [statusIcon]="reviewHoldingMsg.statusIcon" [status]="reviewHoldingMsg.status" [message]="reviewHoldingMsg.message">
                    <button class="btn mt-1" (click)="openDialog()">View</button>
                </app-holding-status>
            </div>
            <div class="mb-2" *ngIf="isPOCommentsAvailable">
                <app-holding-status [statusIcon]="poCommentsHoldingMsg.statusIcon" [status]="poCommentsHoldingMsg.status" [message]="poCommentsHoldingMsg.message"></app-holding-status>
            </div>
        </ng-container>
        
        <!-- View for rejected -->
        <ng-container *ngIf="recommendationStatus === 'rejected'">
            <app-holding-status [statusIcon]="reviewHoldingMsg.statusIcon" [status]="reviewHoldingMsg.status" [message]="reviewHoldingMsg.message">
                <button class="btn mt-1" (click)="openDialog()">View/Edit</button>
            </app-holding-status>
            <div class="mt-2" *ngIf="isPMCommentsAvailable">
                <app-holding-status [statusIcon]="pmCommentsHoldingMsg.statusIcon" [status]="pmCommentsHoldingMsg.status" [message]="pmCommentsHoldingMsg.message"></app-holding-status>
            </div>
            <div class="mt-2">
                <app-holding-status [statusIcon]="newCommentsHoldingMsg.statusIcon" [status]="newCommentsHoldingMsg.status">
                    <div class="form-group base-margin-bottom">
                        <div class="form-group__text">
                            <textarea rows="3" placeholder="Type here" [(ngModel)]="comment"></textarea>
                        </div>
                    </div>
                    <div class="text-seperator" *ngIf="crcData.identify.poComments?.length">
                        <div class="text-seperator--line"></div>
                        <div class="text-seperator--text text-link text-italic text-weight-700">
                            Previous comments <span class="icon-small" class="icon-chevron-down"></span>
                        </div>
                        <div class="text-seperator--line"></div>
                    </div>
                    <div *ngFor="let element of crcData.identify.poComments; let i=index">
                        <p>
                            Comment by 
                            <span class="text-link text-italic">{{element.commentedBy}}</span>
                            <span class="text-gray-600"> | <span class="text-italic">On {{element.commentedOn | date:'dd MMM y'}}</span></span><br>
                            <span class="{{!element.comment ? 'text-gray-600' : ''}}">{{element.comment ? element.comment : 'NA'}}</span>
                        </p>
                        <hr *ngIf="crcData.identify.poComments.length > 1 && i < crcData.identify.poComments.length - 1">
                    </div>
                </app-holding-status>
            </div>
            <div class="text-right py-2">
                <span class="text-link text-italic">Click 'Submit' when finished adding the recommendations</span>
                <button class="btn btn--primary ml-1" [disabled]="!crcRecommendationsId" (click)="submit()">Submit</button>
            </div>
        </ng-container>
        
        <!-- View for resubmitted and approved -->
        <ng-container *ngIf="recommendationStatus === 'resubmitted' || recommendationStatus === 'approved'">
            <div>
                <app-holding-status [statusIcon]="reviewHoldingMsg.statusIcon" [status]="reviewHoldingMsg.status" [message]="reviewHoldingMsg.message">
                    <button class="btn mt-1" (click)="openDialog()">{{ isMoveToIdentify && recommendationStatus === 'approved' ? 'View/Add' : 'View' }}</button>
                    <span class="text-danger ml-2" *ngIf="isMoveToIdentify && !isNewRecommendationsAvailable"><span class="icon-exclamation-triangle mr-1"></span>Add at least one recommendation</span>
                </app-holding-status>
            </div>
            <div class="mt-2" *ngIf="implCommentsHoldingMsg.message">
                <app-holding-status [statusIcon]="implCommentsHoldingMsg.statusIcon" [status]="implCommentsHoldingMsg.status" [message]="implCommentsHoldingMsg.message"></app-holding-status>
            </div>
            <div class="mt-2" *ngIf="isPMCommentsAvailable">
                <app-holding-status [statusIcon]="pmCommentsHoldingMsg.statusIcon" [status]="pmCommentsHoldingMsg.status" [message]="pmCommentsHoldingMsg.message"></app-holding-status>
            </div>
            <div class="mt-2" *ngIf="isPOCommentsAvailable">
                <app-holding-status *ngIf="!isMoveToIdentify || recommendationStatus === 'resubmitted'" [statusIcon]="poCommentsHoldingMsg.statusIcon" [status]="poCommentsHoldingMsg.status" [message]="poCommentsHoldingMsg.message"></app-holding-status>
                <app-holding-status *ngIf="isMoveToIdentify && recommendationStatus === 'approved'" [statusIcon]="newCommentsHoldingMsg.statusIcon" [status]="newCommentsHoldingMsg.status">
                    <div class="form-group base-margin-bottom">
                        <div class="form-group__text">
                            <textarea rows="3" placeholder="Type here" [(ngModel)]="comment"></textarea>
                        </div>
                    </div>
                    <div class="text-seperator" *ngIf="crcData.identify.poComments?.length">
                        <div class="text-seperator--line"></div>
                        <div class="text-seperator--text text-link text-italic text-weight-700">
                            Previous comments <span class="icon-small" class="icon-chevron-down"></span>
                        </div>
                        <div class="text-seperator--line"></div>
                    </div>
                    <div *ngFor="let element of crcData.identify.poComments; let i=index">
                        <p>
                            Comment by 
                            <span class="text-link text-italic">{{element.commentedBy}}</span>
                            <span class="text-gray-600"> | <span class="text-italic">On {{element.commentedOn | date:'dd MMM y'}}</span></span><br>
                            <span class="{{!element.comment ? 'text-gray-600' : ''}}">{{element.comment ? element.comment : 'NA'}}</span>
                        </p>
                        <hr *ngIf="crcData.identify.poComments.length > 1 && i < crcData.identify.poComments.length - 1">
                    </div>
                </app-holding-status>
            </div>
            <div class="text-right py-2" *ngIf="isMoveToIdentify && recommendationStatus === 'approved'">
                <span class="text-link text-italic">Click 'Submit' when finished adding the recommendations</span>
                <button class="btn btn--primary ml-1" [disabled]="!isNewRecommendationsAvailable" (click)="submit()">Submit</button>
            </div>
        </ng-container>
    </ng-container>
</div>