.completeDetails {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100%;
    width:100%;
    app-holding-status {
        width: 80%;
        min-height: 30%;
    }
}