<div class="export-compliance-generate">
    <div class="export-compliance-generate__content">
        <app-holding-status [statusIcon]="'edit'" [status]="'Enter Export Product Review (EPR) ID or Request Number for your project/product'">
            <div class="export-compliance-generate__project mt-2">
                <form class="form-group export-compliance-generate__existing" (ngSubmit)="linkEPRProjectId()">
                    <div class="form-group__text mr-2">
                        <input matInput type="text" placeholder="eg. CMT-XXXX-XXXXX" [formControl]="eprProjectId"
                        [ngClass]="{'disabled': isEPRProjectLinked || showLoader || currentRole === 'exportCompliancePO'}">
                    </div>
                    <button type="submit" class="btn btn--primary" *ngIf="!isEPRProjectLinked" [disabled]="!eprProjectId.valid || showLoader || currentRole === 'exportCompliancePO'">Link</button>
                    <span class="ml-1" *ngIf="isEPRProjectLinked">
                        <span class="icon-check-outline export-compliance-generate__existing--approved mr-1"></span>
                        <span>Project details linked</span>
                    </span>
                    <div class="loading-dots ml-1" *ngIf="showLoader" aria-label="Loading, please wait...">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </form>        
            </div>
        </app-holding-status>
        <div class="export-compliance-generate__seperator">
            <div class="text-link text-weight-700 mr-1">OR</div>
            <div class="export-compliance-generate__seperator--line"></div>
        </div>
        <app-holding-status [statusIcon]="'implement'" [status]="'Generate Export Product Review (EPR) ID or Request Number'">
            <div class="mt-2">
                <a class="btn btn--primary" [href]="externalCMTToolLink" target="_blank" [class.btn--ghost]="currentRole === 'exportCompliancePO'">Generate</a>
                <span class="text-link ml-3"> <em>NOTE: 'Generate' button will redirect to the CMT tool </em></span>
            </div>
        </app-holding-status>
    </div>
</div>